body, html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  width: 100%;
  height: 100%; }

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
  background-image: url("hero1.jpg");
  background-size: cover;
  background-position: center; }
  .background .shade {
    background-color: rgba(0, 0, 0, 0.2);
    width: inherit;
    height: inherit; }

.grayedOut {
  color: #333333 !important;
  opacity: 0.3; }

.container {
  padding-top: 10%;
  width: 90%;
  max-width: 360px;
  margin: 0 auto; }
  .container .background {
    background-image: url("hero2.jpg"); }
  .container.home {
    padding-top: 0; }
    .container.home .header {
      position: fixed;
      top: 0;
      left: 0;
      box-sizing: border-box;
      padding-top: 10px;
      width: 100%;
      height: 50px;
      background-color: rgba(255, 255, 255, 0.9); }
      .container.home .header svg {
        height: 30px;
        margin: 0 10px; }
    .container.home .trips {
      margin-top: 70px;
      list-style: none; }
      .container.home .trips > li {
        box-sizing: border-box;
        width: 360px;
        margin: 0 auto;
        height: 240px;
        background-color: white;
        padding: 20px 40px;
        margin-bottom: 20px;
        border-radius: 20px; }
        .container.home .trips > li h1 {
          font-family: inherit;
          font-size: 36px;
          font-weight: 300;
          text-align: left;
          color: #333333;
          margin: 0; }
        .container.home .trips > li h2 {
          font-family: inherit;
          font-size: 18px;
          font-weight: 300;
          text-align: left;
          color: #333333;
          margin: 0; }
        .container.home .trips > li ul {
          width: 100%;
          margin-top: 20px;
          padding: 0;
          list-style: none; }
          .container.home .trips > li ul li {
            display: inline-block;
            width: 55px;
            height: 55px;
            margin-right: 16px;
            background-color: #323212;
            border-radius: 4px;
            margin-left: 0;
            padding: 0; }
            .container.home .trips > li ul li:last-child {
              margin-right: 0; }
  .container.form .inputFields {
    position: relative;
    margin: 0;
    opacity: 0;
    -webkit-animation: appearDelay 2s ease;
    animation: appearDelay 2s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
    .container.form .inputFields .taglines {
      position: absolute;
      top: 0;
      width: 100%; }
      .container.form .inputFields .taglines h2 {
        position: absolute;
        width: 100%;
        left: auto;
        right: auto;
        font-family: inherit;
        font-size: 18px;
        font-weight: 300;
        text-align: center;
        color: #333333;
        opacity: 0;
        -webkit-animation: appearDelay 2s ease;
        animation: appearDelay 2s ease;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards; }
    .container.form .inputFields input {
      position: absolute;
      top: 40px;
      font-family: inherit;
      font-size: 36px;
      font-weight: 300;
      text-align: center;
      color: #333333;
      width: 100%;
      padding: 10px 0;
      border: none;
      outline: none;
      background: none; }
    .container.form .inputFields .progressBar {
      position: absolute;
      top: 110px;
      width: 100%;
      height: 2px;
      background-color: #cfcfcf;
      margin-bottom: 10px; }
      .container.form .inputFields .progressBar .progress {
        left: 0;
        height: inherit;
        width: 0;
        background-color: #F2685C;
        -webkit-animation: progressOne 0.5s ease 2s;
        animation: progressOne 0.5s ease 2s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards; }
    .container.form .inputFields .navigation {
      position: absolute;
      top: 120px;
      width: 100%; }
      .container.form .inputFields .navigation a {
        position: absolute;
        cursor: pointer;
        font-family: inherit;
        font-size: 18px;
        font-weight: 300;
        font-style: italic;
        text-align: center;
        color: #4FA6F2;
        text-align: center; }
        .container.form .inputFields .navigation a.previous {
          left: 0; }
        .container.form .inputFields .navigation a.next {
          right: 0; }
  .container.form svg {
    width: 100%;
    margin: 0 0;
    -webkit-animation: shrink ease 2s;
    animation: shrink ease 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
    .container.form svg path:nth-child(1) {
      fill: #4FA6F2;
      -webkit-animation: cycleColors 0.5s ease 0.01s 2;
      animation: cycleColors 0.5s ease 0.01s 2; }
    .container.form svg path:nth-child(2) {
      fill: #4FA6F2;
      -webkit-animation: cycleColors 0.5s ease 0.126s 2;
      animation: cycleColors 0.5s ease 0.126s 2; }
    .container.form svg path:nth-child(3) {
      fill: #4FA6F2;
      -webkit-animation: cycleColors 0.5s ease 0.251s 2;
      animation: cycleColors 0.5s ease 0.251s 2; }
    .container.form svg path:nth-child(4) {
      fill: #4FA6F2;
      -webkit-animation: cycleColors 0.5s ease 0.376s 2;
      animation: cycleColors 0.5s ease 0.376s 2; }
    .container.form svg path:nth-child(5) {
      fill: #4FA6F2;
      -webkit-animation: cycleColors 0.5s ease 0.501s 2;
      animation: cycleColors 0.5s ease 0.501s 2; }
  .container.landing svg {
    width: 75%;
    margin: 0 12.5%;
    -webkit-animation: flickering ease 20s infinite;
    animation: flickering ease 20s infinite; }
    .container.landing svg path {
      fill: #F2F2F2; }
  .container.landing h2 {
    font-family: inherit;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    color: #F2F2F2; }
    .container.landing h2.head {
      margin-top: 10px; }
  .container.landing .facebook {
    display: block;
    position: fixed;
    bottom: 60px;
    cursor: default;
    margin: 0 30px; }
    .container.landing .facebook div {
      cursor: pointer;
      width: 300px;
      margin: 0 auto;
      height: 46px;
      background-image: url("./fb-lg.png");
      background-repeat: no-repeat;
      background-position: center; }

@keyframes progressOne {
  0% {
    width: 0; }
  100% {
    width: 25%; } }
@-webkit-keyframes progressOne {
  0% {
    width: 0; }
  100% {
    width: 25%; } }
@keyframes appearDelay {
  0% {
    opacity: 0; }
  90% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes appearDelay {
  0% {
    opacity: 0; }
  90% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes shrink {
  0% {
    width: 100%;
    margin: 0 0; }
  80% {
    width: 100%;
    margin: 0 0; }
  90% {
    width: 110%;
    margin: 0 -5%; }
  100% {
    width: 40%;
    margin: 0 30%; } }
@-webkit-keyframes shrink {
  0% {
    width: 100%;
    margin: 0 0; }
  80% {
    width: 100%;
    margin: 0 0; }
  90% {
    width: 110%;
    margin: 0 -5%; }
  100% {
    width: 40%;
    margin: 0 30%; } }
@keyframes cycleColors {
  0% {
    fill: #4FA6F2; }
  25% {
    fill: #2ABF5E; }
  50% {
    fill: #F2BA13; }
  75% {
    fill: #F2685C; }
  100% {
    fill: #4FA6F2; } }
@-webkit-keyframes cycleColors {
  0% {
    fill: #4FA6F2; }
  25% {
    fill: #2ABF5E; }
  50% {
    fill: #F2BA13; }
  75% {
    fill: #F2685C; }
  100% {
    fill: #4FA6F2; } }
@keyframes flickering {
  0% {
    -webkit-filter: drop-shadow(0 0 40px #4FA6F2);
    filter: drop-shadow(0 0 40px #4FA6F2); }
  0.5% {
    -webkit-filter: drop-shadow(0 0 0 #4FA6F2);
    filter: drop-shadow(0 0 0 #4FA6F2); }
  1% {
    -webkit-filter: drop-shadow(0 0 12px #4FA6F2);
    filter: drop-shadow(0 0 12px #4FA6F2); }
  1.5% {
    -webkit-filter: drop-shadow(0 0 0 #4FA6F2);
    filter: drop-shadow(0 0 0 #4FA6F2); }
  2% {
    -webkit-filter: drop-shadow(0 0 12px #4FA6F2);
    filter: drop-shadow(0 0 12px #4FA6F2); }
  2.5% {
    -webkit-filter: drop-shadow(0 0 0 #4FA6F2);
    filter: drop-shadow(0 0 0 #4FA6F2); }
  3% {
    -webkit-filter: drop-shadow(0 0 40px #4FA6F2);
    filter: drop-shadow(0 0 40px #4FA6F2); }
  30% {
    -webkit-filter: drop-shadow(0 0 40px #F2685C);
    filter: drop-shadow(0 0 40px #F2685C); }
  60% {
    -webkit-filter: drop-shadow(0 0 40px #F2BA13);
    filter: drop-shadow(0 0 40px #F2BA13); }
  80% {
    -webkit-filter: drop-shadow(0 0 40px #2ABF5E);
    filter: drop-shadow(0 0 40px #2ABF5E); }
  100% {
    -webkit-filter: drop-shadow(0 0 40px #4FA6F2);
    filter: drop-shadow(0 0 40px #4FA6F2); } }
@-webkit-keyframes flickering {
  0% {
    -webkit-filter: drop-shadow(0 0 40px #4FA6F2);
    filter: drop-shadow(0 0 40px #4FA6F2); }
  0.5% {
    -webkit-filter: drop-shadow(0 0 0 #4FA6F2);
    filter: drop-shadow(0 0 0 #4FA6F2); }
  1% {
    -webkit-filter: drop-shadow(0 0 12px #4FA6F2);
    filter: drop-shadow(0 0 12px #4FA6F2); }
  1.5% {
    -webkit-filter: drop-shadow(0 0 0 #4FA6F2);
    filter: drop-shadow(0 0 0 #4FA6F2); }
  2% {
    -webkit-filter: drop-shadow(0 0 12px #4FA6F2);
    filter: drop-shadow(0 0 12px #4FA6F2); }
  2.5% {
    -webkit-filter: drop-shadow(0 0 0 #4FA6F2);
    filter: drop-shadow(0 0 0 #4FA6F2); }
  3% {
    -webkit-filter: drop-shadow(0 0 40px #4FA6F2);
    filter: drop-shadow(0 0 40px #4FA6F2); }
  30% {
    -webkit-filter: drop-shadow(0 0 40px #F2685C);
    filter: drop-shadow(0 0 40px #F2685C); }
  60% {
    -webkit-filter: drop-shadow(0 0 40px #F2BA13);
    filter: drop-shadow(0 0 40px #F2BA13); }
  80% {
    -webkit-filter: drop-shadow(0 0 40px #2ABF5E);
    filter: drop-shadow(0 0 40px #2ABF5E); }
  100% {
    -webkit-filter: drop-shadow(0 0 40px #4FA6F2);
    filter: drop-shadow(0 0 40px #4FA6F2); } }

/*# sourceMappingURL=base.css.map */
